.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 80px;

    @media @max1024{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @media @max768 {
        display: flex;
        flex-direction: column;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        font-family: 'Mulish', sans-serif;
        font-size: 25px;
        margin: 0;
        line-height: 25px;
    }
    &__img{
        width: 234px;
        height: 280px;
        margin-bottom: 11px;
    }
}