html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-image: url("../../assets/MENU\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 119px 10px 283px;
}